@import "~bootstrap/scss/bootstrap.scss";

.edit {
    text-align: center;
}

.boton {
    margin: 35px;
    background-color: white;
    color: black;
}

.fondo {
    background-color: whitesmoke;
    
}

.title {
    color: yellowgreen;
}