@import "~bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    position: relative;
}

#mainCard {
    max-width: 40%;
    margin: auto; 
    background-color: white;
    position: relative;    
   
}

#counter {
    font-size: 14px;
    text-align: center;
} 

#header {
    text-align: center;
}

#botonDelete {
    border: none;
    background-color: white;;
}

.claseTask {
    text-align: center;
}

.inputClass {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#title {
    color: chartreuse;
}